<section class="hero-section" data-aos="fade-up">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />I'm Fullstack developer <br />Lloyd Jefferson.
    </h1>
    <div class="social">
      <ul class="social-networks">
        <li class="social-networks-item">
          <a
            class="social-networks-link instagram"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="social-networks-item">
          <a
            class="social-networks-link facebook"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="social-networks-item">
          <a
            class="social-networks-link youtube"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="social-networks-item">
          <a
            class="social-networks-link github"
            href="https://github.com/LobanovSK/Portfolio-JS-team-9"
            target="_blank"
            >GH</a
          >
        </li>
        <li class="social-networks-item">
          <a
            class="social-networks-link e-mail"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
