<section class="projects_body" id="projects">
  <h2 class="projects_visually-hidden">PROJECTS</h2>
     <div class="mySwiper projects_swiper">
     <div class="projects_swiper-wrapper swiper-wrapper">
       <div class="projects_swiper-slide swiper-slide" id="projects_swiper-slide">
         <div class="projects_swaper-first-part">
           <ul class="projects_lang-list">
               <li class="projects_lang-list-part">#react</li>
               <li class="projects_lang-list-part">#js</li>
               <li class="projects_lang-list-part">#node.js</li>
               <li class="projects_lang-list-part">#git</li>
           </ul>
       <div class="projects_content">
         <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
         <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
           <button type="submit" class="See_projects-button">See project</button>
         </form>
       </div>
     </div>
       <div class="projects_swaper-second-part">
         <div class="projects_picture-container">
           <picture>
             <source srcset="/img/projects/read-journey.png 1x,/img/projects/read-journey@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
             <img src="/img/projects/read-journey-mob.png" width="311" height="195" alt="read-journey">
           </picture>
       </div>
       </div>
       </div>
       <div class="projects_swiper-slide swiper-slide" id="projects_swiper-slide2">
         <div class="projects_swaper-first-part">
           <ul class="projects_lang-list">
               <li class="projects_lang-list-part">#react</li>
               <li class="projects_lang-list-part">#js</li>
               <li class="projects_lang-list-part">#node.js</li>
               <li class="projects_lang-list-part">#git</li>
           </ul>
       <div  class="projects_content">
         <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
         <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
           <button type="submit" class="See_projects-button">See project</button>
         </form>
       </div>
       </div>
       <div class="projects_swaper-second-part">
         <div class="projects_picture-container">
           <picture>
             <source srcset="/img/projects/petlove.png 1x,/img/projects/petlove@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
               <img src="/img/projects/petlove-mob.png" width="311" height="195" alt="petlove">
           </picture>
        </div>
       </div>
       </div>
       <div class="projects_swiper-slide swiper-slide" id="projects_swiper-slide3">
         <div class="projects_swaper-first-part">
             <ul class="projects_lang-list">
                 <li class="projects_lang-list-part">#react</li>
                 <li class="projects_lang-list-part">#js</li>
                 <li class="projects_lang-list-part">#node.js</li>
                 <li class="projects_lang-list-part">#git</li>
             </ul> 
         <div  class="projects_content">
           <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
           <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
             <button type="submit" class="See_projects-button">See project</button>
           </form>
         </div>
       </div>
         <div class="projects_swaper-second-part">
           <div class="projects_picture-container">
             <picture>
               <source srcset="/img/projects/vocabbuilder.png 1x,/img/projects/vocabbuilder@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
             <img src="/img/projects/vocabbuilder-mob.png" width="311" height="195" alt="vocabbuilder">
             </picture>
         </div>
         </div>
       </div>
     </div>
       <div class="projects_arrows">      
       <button
       class="projects_icon-arrow-left"
       tabindex="0"
       aria-label="Previous slide"
       aria-disabled="false"
     >
       <svg
         width="32"
         height="32"
         viewBox="0 0 32 32"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="projects_arrow"
       >
         <path
           d="M26.6666 16H5.33325"
           stroke="#FAFAFA"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
         />
         <path
           d="M13.3333 8L5.33325 16L13.3333 24"
           stroke="#FAFAFA"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
         />
       </svg>
     </button>
     <button
       class="projects_icon-arrow-right"
       tabindex="0"
       aria-label="Next slide"
       aria-disabled="false"
     >
       <svg
         width="32"
         height="32"
         viewBox="0 0 32 32"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="projects_arrow"
       >
         <path
           d="M5.33325 16H26.6666"
           stroke="#FAFAFA"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
         />
         <path
           d="M18.6667 8L26.6667 16L18.6667 24"
           stroke="#FAFAFA"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
         />
       </svg>
     </button>
   </div>
   </div>
 </section> 