<section class="reviews">
  <div class="reviews-container">
    <h2 class="reviews-section-title">Reviews</h2>
    <!-- це контейнер для слайдера ревью -->
    <div class="swiper-reviews">
      <ul class="swiper-wrapper reviews-list" id="reviews-list">
        <!-- самі відгуки додаються через js, тут немає розмітки -->
      </ul>
    </div>
    <!-- розмітка свайпер арровс -->
    <div class="reviews-navigation">
      <button
        class="swiper-button-prev-reviews"
        tabindex="0"
        aria-label="Previous slide"
        aria-controls="reviews-list"
        aria-disabled="false"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M26.6666 16H5.33325"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.3333 8L5.33325 16L13.3333 24"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button
        class="swiper-button-next-reviews"
        tabindex="0"
        aria-label="Next slide"
        aria-controls="reviews-list"
        aria-disabled="false"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.33325 16H26.6666"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18.6667 8L26.6667 16L18.6667 24"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
