.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding: 0 32px;
  }
}
.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: transparent;
}

.header-logo {
  display: flex;
  align-items: flex-start;
}
.header-logo img {
  margin-right: 8px;
}
.header-mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Open the modal window section */
.header-mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header-mobile-menu-overlay.is-open {
  visibility: visible;
  opacity: 1;
}
.header-mobile-menu-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  transform: rotate(-180deg);
  z-index: -1;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-close-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 32px;
  right: 16px;
}

.header-mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 67px;
}

.header-mobile-menu-list-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  margin-bottom: 12px;
  transition: color 0.3s ease-in-out;
  font-family: 'Inter Tight', sans-serif;
  width: 100%;
  padding: 0;
}
.header-mobile-menu-list-item:last-child {
  margin-bottom: 0px;
}
.header-mobile-menu-list-item:hover,
.header-mobile-menu-list-item:focus {
  color: #ed3b44;
}

.header-order-btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  background-color: #ed3b44;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  text-decoration: none;
  margin-top: 289px;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}
.header-order-btn-modal:hover,
.header-order-btn-modal:focus {
  background-color: #e0373f;
}
/* Close the modal window section */

/* Open menu */
.header-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 67px;
}
.header-menu-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out;
  padding: 10px;
  font-family: 'Inter Tight', sans-serif;
  width: 60px;
}
.header-menu-btn:hover {
  color: #ed3b44;
  background-color: transparent;
}
.header-dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease, max-height 1.5s ease;
}
.header-dropdown-menu.open {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s ease, max-height 1.5s ease, visibility 0s 0s;
  max-height: 500px;
}

.header-dropdown-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 91px;
}

.header-dropdown-menu-list-item {
  margin-bottom: 5px;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  transition: color 0.3s ease-in-out;
}
.header-dropdown-menu-list-item:last-child {
  margin-bottom: 0;
}
.header-dropdown-menu-list-item-a {
  text-decoration: none;
  display: block;
}
.header-dropdown-menu-list-item:hover,
.header-dropdown-menu-list-item:focus {
  color: #ed3b44;
}
/* Close menu */

/* Open Button link */
.header-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  background-color: #ed3b44;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}
.header-order-btn:hover,
.header-order-btn:focus {
  background-color: #e0373f;
}
/* Close menu Button link*/

/* Open Adaptability */
@media (max-width: 768px) {
  .header-menu-btn,
  .header-order-btn {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-mobile-menu-btn {
    display: none;
  }
}
/* Close Adaptability */
