#projects_swiper-slide,#projects_swiper-slide2, #projects_swiper-slide3{
  display: flex;
}
.projects_body {
    background-color: #1c1d20;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .projects_visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }  

  .mySwiper{
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .projects_swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block
  }
  
  .projects_swiper-wrapper {
    height: 812px;
    margin-top: 56px;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
  }
  
  .projects_swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1c1d20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects_swaper-first-part {
    background-color: #fafafa;
    height: 417px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .projects_swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .projects_picture-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 311px;
    height: 195px;
  }
  
  .projects_swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1c1d20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projects_swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
  
  .projects_swiper-slide {
    background-color: #1c1d20;
    display: flex;
    flex-direction: column;
    width: 343px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    align-items: center;
    justify-content: center;
  }
  
  .projects_lang-list {
    display: flex;
    list-style: none;
    width: 279px;
    padding: 0;
    margin: 0;
    gap: 6px;
    margin: 32px 32px 96px 32px;
    flex-wrap: wrap;
  }
  .projects_lang-list-part {
    color: #1c1d20;
    border: rgba(28, 29, 32, 0.2) 1px solid;
    border-radius: 60px;
    padding: 13px 18px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
  }
  
  .projects_swaper-second-part {
    background-color: #242527;
    height: 395px;
    width: 343px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .projects_content {
    text-align: left;
    margin-left: 32px;
  }
  
  .projects_swaper-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #1c1d20;
    width: 279px;
    text-align: left;
    margin-bottom: 32px;
  }
  
  .See_projects-button {
    background-color: #ed3b44;
    padding: 13px 32px  ;
    border-radius: 60px;
    border: 0;
    color: #fafafa; 
  }
  .See_projects-button:hover {
    background-color: #e0373f;
  }
  
  .projects_arrow{
    width: 24px;
    height: 24px;
  }

  .projects_icon-arrow-left,
  .projects_icon-arrow-right {
    background-color: #1c1d20;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    width: 52px;
    height: 52px;
  }
  
  .projects_arrows {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 32px;
  }
  .projects_icon-arrow-left.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .projects_icon-arrow-right.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  
  @media screen and (min-width: 768px) {
    .projects_swiper-wrapper {
      height: 1191px;
      margin-bottom: 64px;
      margin-top: 56px;
    }
    .projects_swaper-first-part {
      width: 704px;
      height: 566px;
    }
    .projects_swaper-second-part {
      width: 704px;
      height: 625px;
    }
    .projects_picture-container {
      margin-top: 120px;
      margin-bottom: 120px;
      width: 614px;
      height: 385px;
    }
    .projects_lang-list {
      display: flex;
      width: 312px;
      gap: 6px;
      margin: 64px 0 164px 64px;
      flex-wrap: nowrap;
    }
    .projects-content {
      margin-left: 64px;
    }
    .projects_swaper-text {
      font-size: 44px;
      line-height: 100%;
      width: 494px;
    }
    .See_projects-button {
      margin: 6px 367px 0 0;
      padding: 18px 50px ;
      }
    .projects_arrows {
      gap: 20px;
      margin-top: 32px;
    }
    .projects_arrow{
      width: 32px;
      height: 32px;
    }
      .projects_icon-arrow-left,
    .projects_icon-arrow-right {
      width: 68px;
      height: 68px;
    }
    }
  @media screen and (min-width: 1440px) {
    .projects_swiper-wrapper {
      height: 625px;
      margin-top: 56px;
      margin-bottom: 64px;
    }
    .projects_swiper-slide {
      flex-direction: row;
    }
    .projects_swaper-first-part {
      width: 688px;
      height: 625px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 24px;
      border-top-left-radius: 24px;
    }
    .projects_swaper-second-part {
      width: 688px;
      height: 625px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    .projects_picture-container {
      margin-top: 120px;
      margin-bottom: 120px;
      width: 614px;
      height: 385px;
    }
    .projects_lang-list {
      display: flex;
      width: 312px;
      gap: 6px;
      margin: 64px 0 164px 64px;
      flex-wrap: nowrap;
    }
    .projects_content {
      margin-left: 64px;
    }
    .projects_swaper-text {
      font-size: 44px;
      line-height: 100%;
      width: 494px;
    }
    .See_projects-button {
      margin: 6px 367px 0 0;
    }
    
  }
  
